*{
    font-family: sans-serif;
    margin: 0px;
}
/* header style */
.h-bg{
    
    height: 700px;
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: 1300px;
    background-blend-mode: darken;
}
.h-tittle{
    max-width: 525px;
    max-height: 228px;
}
.head{
    padding-top: 116px;
    padding-left: 600px;
    padding-bottom: 24px;
    font-size: 40px;
    color: aliceblue;
    text-align: right;
}
.h-paragraph{
    text-align: right;
    margin-left: 700px;
    margin-right: 150px;
    margin-bottom: 32px;
    color: white;
    font-size: 16px;
}
/* head-btn style */
.head-btn{
    margin-left: 950px;
    height: 64px;
    width:160px ;
    padding: 22px;
    font-size: 20px;
    color: #005FAC;
    background-color: white;
    border-radius: 5px;
}
.head-btn:hover{
    color: black;
    background-color:bisque;
    box-shadow: #333435 4px 7px 10px ;
}
/* body part 1 style */
.body-part1{
    height: 700px;
    background-image: url(../images/person.png);
    background-repeat: no-repeat;
    background-size: 550px;
    margin-left: 150px;
    margin-top: 140px;
}
.bp1-head{
    padding-top:250px ;
    padding-left: 700px;
    padding-right:100px ;
    font-size: 40px;
}
.bp1-paragraph{
    color: #444343;
    padding-top: 25px ;
    padding-left: 700px;
    padding-right:70px ;

}
.line{
    list-style: none;
    color: #444343;
}
.bp1-li{
    margin-left: 650px;
    margin-top: 16px;
}
.bp1-h{
    color: #151414;
    font-size: 40px;
    padding-top: 284px;
    text-align: center;
    padding-bottom: 50px;
}
/* body part 2 style */
.body-part2{
        display: flex;
}
.make-box{
    margin-top: 270px;
    margin-left: 70px;
}
.bp2{
    padding-left: 80px;
   
 }
.bp2-h{
    margin-top: 24px;
    color: #151414;
    font-size: 30px;
}
.bp2-paragraph{
    color: #737272;
    font-size: 25px;
    padding-left: 50px;
}
.bp20{
    margin-top: 270px;
    margin-left: 125px;
 } 
 .bp2-h2{
    margin-top: 24px;
    font-size: 30px;
    margin-left: 99px;
    color: #151414;
 }
 .bp2-paragraph2{
    color: #737272;
    font-size: 25px;
    margin-left: 90px;
 }
 .bp2-paragraph20{
    color: #737272;
    font-size: 25px;
    margin-left: 135px;
 }
 /* part3 style */
 .part3{
    margin-top: 130px;
    margin-left: 180px;
 }
 .p3{
    background-image: url(../images/gradient1.png) ,url(../images/watch.png);
    height: 400px;
    background-repeat: no-repeat;
    background-size: 900px;
 }
 .p3-head{
    color: white;
    font-size: 30px;
    padding-top: 50px;
    padding-left: 65px;
    padding-right: 600px;
    padding-bottom: 25px;
 }
 .part3-btn{
    height: 64px;
    width:160px ;
    padding: 22px;
    font-size: 20px;
    color: #005FAC;
    background-color: white;
    border-radius: 5px;
    margin-left: 65px;
 }
 .part3-btn:hover{
    color: black;
    background-color:bisque;
    box-shadow: #333435 4px 7px 10px ;
 }
 /* footer */
 .footer{
    display: flex;
     width: 1263px;
    height: 577px;
    background-color: #151414;
 }
 .footer-style{
   
 }
 .f-head{
    color: white;
    font-size: 45px;
    padding-top: 130px;
    padding-left: 200px;
 }
 .f-paragraph{
    padding-top: 16px;
    padding-left: 200px;
    line-height: 26px;
    color: white;
    width: 450px;
 }
 .f-gmail{
    color: white;
    padding-top: 24px;
    padding-left: 200px;
    font-size: 15px;
 }
 .f-number{
    color: white;
    padding-top: 16px;
    padding-left: 200px;
    font-size: 15px;
 }
 .f-img{
    padding-top: 32px;
    padding-left: 200px;
 }
 .img-gap{
    padding-right: 10px;
 }